.mws-list div, .mws-list-label, .mws-list, #mws-togglebox {
    display: inline-block;
}

.mws-list div {
    margin-right: 10px;
}

.mws-list div label {
    cursor: pointer;
    margin-left: 5px;
}

.mws-toggleall-label {
    font-weight: bold;
}

.mws-list-container {
    background-color: #F3F3F3;
    border: 1px solid silver;
    margin-top: 1em;
    padding-left: 0.25em;
}

.mws-list-label {
    padding: 0.5em 0 0 0.5em;
}

.mws-list {
    padding: 0.5em;
}

.mw-search-sort {
    margin-top: 0px;
    text-align: right;
    padding-right: 0em;
}

.mw-search-sort label {
    margin-right: 0.5em;
}

.mw-search-sort a {
    margin-right: 5px;
    text-decoration: underline;
}

